html{
    scroll-behavior: smooth;
}


.return_to_top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f75958;
    width: 50px;
    height: 50px;
    line-height: 3.125rem;
    text-align: center;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99;
    text-align: center;
  }

  .return_button{
    font-size: 2.4rem !important;
    padding-top: 5px !important;
    color: white !important;
    scroll-behavior: smooth;
  }


  /* only for upto 1280px devices */
@media only screen and (max-width: 1280px) {
    .return_to_top{
        width: 40px;
        height: 40px;
        bottom: 50px;
        right: 50px;
    }

    .return_button{
        font-size: 2rem !important;
        padding-top: 4px !important;
        color: white !important;
        scroll-behavior: smooth;
      }
}


 /* 1000px for small screen laptops and tab devices */
@media only screen and (max-width: 1000px) {
    .return_to_top{
        width: 80px;
        height: 80px;
        bottom: 50px;
        right: 50px;
    }

    .return_button{
        font-size: 3.4rem !important;
        padding-top: 10px !important;
        color: white !important;
        scroll-behavior: smooth;
      }
}

/* 480px it may support to mobile devices */
@media screen and (max-width: 480px){
    .return_to_top{
        width: 100px;
        height: 100px;
        bottom: 50px;
        right: 50px;
    }

    .return_button{
        font-size: 5.4rem !important;
        padding-top: 8px !important;
        color: white !important;
        scroll-behavior: smooth;
      }
}