.contact-us {
  height: 200px;
  background: #f75958;
  padding: 20px 100px;
  display: flex;
  justify-content: space-around;
}

.block__content1,
.block__content2 {
  padding: 50px;
}

.block__content2_name {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #f75958;
  text-align: center;
}

.block__title {
  color: #ffffff;
  font-size: 1.875rem;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.block__des {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 20px 0;
}

.block__contact {
  margin: 20px auto;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  padding: 14px;
  border-radius: 20px;
  text-decoration: none;
  color: #f75958;
}

.block__contact:hover {
  color: rgb(68, 68, 68);
}

.contact_me {
  height: 850px;
}
.contact_content {
  text-align: center;
  padding: 40px;
}
.contact_content > p {
  color: #333;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3.125rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.contact_content > h1 {
  color: #f75958;
  font-size: 50px;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}

/* only for mobile devices */
@media only screen and (max-width: 700px) {
  .contact-us {
    height: 300px;
    width: 1000px;
  }

  .block__content1,
  .block__content2 {
    padding: 50px 10px;
  }

  .block__content2_name {
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 30px;
    color: #f75958;
    text-align: center;
  }

  .block__title {
    color: #ffffff;
    font-size: 2.875rem;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .block__des {
    color: #ffffff;
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
  }

  .block__contact {
    margin: 20px auto;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    padding: 21px;
    border-radius: 20px;
    text-decoration: none;
    color: #f75958;
  }

  .block__contact:hover {
    color: rgb(68, 68, 68);
  }

  .contact_me {
    height: 850px;
  }
  .contact_content {
    text-align: center;
    padding: 40px 40px 0 40px;
    width: 1000px;
  }
  .contact_content > p {
    color: #333;
    font-size: 55px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 5.125rem;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
    padding: 0;
  }

  .contact_content > h1 {
    color: #f75958;
    font-size: 60px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    margin: 20px 0;
    padding: 0;
  }
}
